.productContainer {
  position: relative;
  height: 427px;
  width: 640px;
  padding: 0px;
  margin: 0px;
}

.productContainer .img {
  z-index: 10;
  position: absolute;
}

.productContainer .zoomContainer{
  padding: 0px;
  top:0;
  right: 0;
  margin: 0;
  position: absolute;
  height: 427px;
  width: 640px;
  visibility: hidden;
}

.productContainer .btn {
  position: absolute;
  z-index: 15;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: #555;
  border: 1px solid #555;
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.productContainer .btn:hover {
  background-color: #33b1aa;
  color: white;
  border: 1px solid #33b1aa;
}
