.thumbnail
{
  cursor: pointer;
}

.viewer {
  height: 600px;
  position: relative;
}

@media screen and (max-width:840px) {
  .viewer {
  height: 300px;
    width: 100%;
  }
}

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
