.background {
  background-color: #22261e!important;
}

.fsi-root .fsi-ui-logo {
  display: none!important;
}

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
